<label class="sign-in-form__{{name}}-label label" for="{{name}}">
    {{label}}
    <input type="{{type}}" name={{name}} class="sign-in-form__{{name}}-input  form-input" value="{{value}}"/>
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
</label>
