<div class="messages-wrap">
    {{#if selectedChat}}
    <div class="messages-header">
        <div class="chat-avatar circle">
            {{{image}}}
        </div>
        <h4 class="messages-header__chat-name">{{title}}</h4>
        {{{chatOptions}}}
    </div>
    {{{chatOptionsMenu}}}

    {{{addUserPopup}}}
    {{{deleteUserPopup}}}
    {{{deleteChatPopup}}}
    {{#if date}}
    <div class="date">
        <p>{{date}}</p>
    </div>
    {{/if}}
    <ul class="conversation-messages">
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </ul>
    {{{messageBar}}}
    {{else}}
        <div class="no-chat">
            <h4 class="messages-wrap__start">Select chat to start</h4>
        </div>
    {{/if}}
</div>
