<div class="messages-wrap">
    {{#if selectedChat}}
    <div class="messages-header">
        <h1 class="messages-header__chat-name">{{title}}</h1>
        {{{chatOptions}}}
    </div>
    {{{chatOptionsMenu}}}

    {{{addUserPopup}}}
    {{{deleteUserPopup}}}
    {{{deleteChatPopup}}}
    {{#if date}}
    <div class="date">
        <p>{{date}}</p>
    </div>
    {{/if}}
    <ul class="conversation-messages">
        {{#each messages}}
            {{{this}}}
        {{/each}}
        <!--<li class="conversation-message">
            <div class="conversation-message__wrap">
                <div class="conversation-message__sender"><p>Mike Kotov</p></div>
                <div class="conversation-message__message-content">
                    {{{imagePhotocamera}}}
                </div>
                <div class="conversation-message__time">
                    <p>11:57</p>   
                </div>
            </div>
        </li>
        <li class="conversation-message">
            <div class="conversation-message__wrap  my-message">
                <div class="conversation-message__sender "><p></p></div>
                <div class="conversation-message__message-content">
                    <p class="conversation-message__message-content-p">Круто!</p>
                </div>
                <div class="conversation-message__time">
                    <svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="3.765" y2="-0.5" transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)" stroke="#3369F3"/>
                        <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35815 5)" stroke="#3369F3"/>
                
                        <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5)" stroke="#3369F3"/>
                    </svg>
                    <p>12:00</p>   
                </div>
            </div>
        </li>-->
    </ul>
    {{{messageBar}}}
    {{else}}
        <h4 class="messages-wrap__start">Select chat to start</h4>
    {{/if}}
</div>
