<main class="main">
    <div class="main__go-back-btn">
        {{{ goBackLink }}}
    </div>
    {{{ popupAvatar }}}
    <div class="main__content">
        {{{ changeAvatar }}}
        <form class="profile-data profile-data-form">
            <ul class="profile-data__data-list">
                {{{ dataUnitLi1 }}}
                {{{ dataUnitLi2 }}}
                {{{ dataUnitLi3 }}}
                {{{ dataUnitLi4 }}}
                {{{ dataUnitLi5 }}}
                {{{ dataUnitLi6 }}}
            </ul>
            {{{ formButton }}}
        </form> 
    </div>
</main>      
