<main class="main">
    <div class="main__go-back-btn">
        {{{ goBackLink }}}
        <!--<a class="go-back-btn__a" href="/settings">
            <svg class="go-back-btn__arrow" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#71A6D7"/>
                <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
                <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
            </svg>
        </a>-->
    </div>
    {{{ popupAvatar }}}
    <div class="main__content">
        {{{ changeAvatar }}}
        <form class="profile-data profile-data-form">
            <ul class="profile-data__data-list">
                {{{ dataUnitLi1 }}}
                {{{ dataUnitLi2 }}}
                {{{ dataUnitLi3 }}}
                {{{ dataUnitLi4 }}}
                {{{ dataUnitLi5 }}}
                {{{ dataUnitLi6 }}}
            </ul>
            {{{ formButton }}}
            <!-- <button type="submit" value="Save changes" class="profile-data-form__submit submit">Save changes</button>-->
        </form> 
    </div>
</main>      
