<li class="chat-list__container chat-container">
    <a href="{{link}}">
        <div class="chat-list__chat">
            <div class="chat__wrap3">
                <div class="chat__user-avatar user-avatar circle">
                    {{#if avatar}}
                    {{{avatar}}}
                    {{/if}}
                </div>
                <div class="chat__wrap1">
                    <span class="chat__name">{{title}}</span>
                    <div class="chat__last-message-wrap">
                        <p class="chat__last-message">{{#if first_name}}<span class="chat__sender">{{first_name}} {{second_name}}:</span> {{content}}</p>{{/if}}
                    </div>
                </div>
            </div>
            <div class="chat__wrap2">
                <span class="chat__last-message-time">{{#if first_name}}{{time}}{{/if}}</span>
                {{#if messagesCount}}
                <div class="chat__unread-messages-count">
                    <p class="unread-messages-count__text">{{messagesCount}}</p> 
                </div>
                {{/if}}
            </div>
        </div>
    </a>
</li>
