<main class="main">
    <div class="main__go-back-btn">
        {{{ goBackLink }}}
    </div>
    {{{ popupPassword }}}
    <div class="main__content">
        {{{ avatar }}}
        <div class="profile-data">
            <ul class="profile-data__data-list">
                {{{ dataUnitLi1 }}}
                {{{ dataUnitLi2 }}}
                {{{ dataUnitLi3 }}}
                {{{ dataUnitLi4 }}}
                {{{ dataUnitLi5 }}}
                {{{ dataUnitLi6 }}}
            </ul>
        </div>
        <div class="actions">
            <ul class="actions__action-list action-list">
                <li class="action-list__action action">
                    {{{ changeAuthLink }}}
                </li>
                <li class="action-list__action action">
                    {{{ changePasswordLink }}}
                </li>
                <li class="action-list__action action">
                    {{{ changeNameLink }}}
                </li>
                <li class="action-list__action action">
                    {{{ logoutLink }}}
                </li>
            </ul>
        </div>
    </div>
</main>      
