<main class="main">
    <div class="main__go-back-btn">
        {{{ goBackLink }}}
    </div>
    {{{ popupPassword }}}
    <div class="main__content">
        {{{ avatar }}}
        <!--<div class="user-info" name="avatar">
            <div class="user-info__change-avatar circle">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.8449 2.15375H4.15259C3.04802 2.15375 2.15259 3.04918 2.15259 4.15374V17.5025L9.8842 15.6984C10.7781 15.4898 11.693 15.3845 12.611 15.3845H15.3865C16.3045 15.3845 17.2194 15.4898 18.1133 15.6984L25.8449 17.5025V4.15375C25.8449 3.04918 24.9495 2.15375 23.8449 2.15375ZM4.15259 0.153748C1.94345 0.153748 0.152588 1.94461 0.152588 4.15374V23.8461C0.152588 24.6806 0.408175 25.4555 0.845346 26.0967V26.4615H1.12601C1.25323 26.6085 1.39098 26.7463 1.5381 26.8734V27.1538H1.9027C2.54373 27.5907 3.31833 27.8461 4.15259 27.8461H23.8449C24.6791 27.8461 25.4538 27.5907 26.0948 27.1538H26.4612V26.8719C26.6076 26.7451 26.7448 26.6079 26.8715 26.4615H27.153V26.0954C27.5897 25.4544 27.8449 24.6801 27.8449 23.8461V4.15375C27.8449 1.94461 26.054 0.153748 23.8449 0.153748H4.15259ZM7.70485 10.2237C9.09522 10.2237 10.2223 9.09655 10.2223 7.70618C10.2223 6.31581 9.09522 5.1887 7.70485 5.1887C6.31448 5.1887 5.18737 6.31581 5.18737 7.70618C5.18737 9.09655 6.31448 10.2237 7.70485 10.2237Z" fill="#CDCDCD"/>
                </svg>
            </div>
            <h3 class="user-info__name">{{first_name}} {{second_name}}</h3>
        </div>-->
        <div class="profile-data">
            <ul class="profile-data__data-list">
                {{{ dataUnitLi1 }}}
                {{{ dataUnitLi2 }}}
                {{{ dataUnitLi3 }}}
                {{{ dataUnitLi4 }}}
                {{{ dataUnitLi5 }}}
                {{{ dataUnitLi6 }}}
            </ul>
        </div>
        <div class="actions">
            <ul class="actions__action-list action-list">
                <li class="action-list__action action">
                    {{{ changeAuthLink }}}
                </li>
                <li class="action-list__action action">
                    {{{ changePasswordLink }}}
                </li>
                <li class="action-list__action action">
                    {{{ changeNameLink }}}
                </li>
                <li class="action-list__action action">
                    {{{ logoutLink }}}
                </li>
            </ul>
        </div>
    </div>
</main>      
