
<form class="profile-data profile-data-form">
    <!--<ul class="profile-data__data-list">-->
        <div class="profile-data__data-list">
            <!--<li class="data-list__data-unit data-unit">
                <h4 class="data-unit__header">Phone number</h4>
                <input type="" name="phone" class="profile-data-form__input  form-input" value="+7-(977)-777-77-77">
            <<input type="text" name="phone" value="" placeholder="Phone number" class="profile-data-form__input  form-input">
            </li>-->
            {{{ inputPhone }}}
            {{{ inputEmail }}}
            {{{ inputLogin }}}
            {{{ inputFirstname }}}
            {{{ inputLastname }}}
            {{{ inputChatName }}}
        </div>
    <button type="submit" value="Save changes" class="profile-data-form__submit submit">Save changes</button>
</form>   


<!--<li class="data-list__data-unit data-unit">
    <h4 class="data-unit__header">{{header}}</h4>
    {{#if isEdit}}
        {{{input}}}
        {{#if error}}
            <p class="sign-in-form__text-error profile-error">{{error}}</p>
        {{/if}}
    <!<input type="text" name="{{name}}" value="{{text-value}}" placeholder="{{header}}" class="profile-data-form__input  form-input">
    {{else}}
        <p class="data-unit__text">{{text-value}}</p>
    {{/if}}
</li>-->
