<a href="{{href}}" class="{{class}}">
    {{#if classImg}}
        <div class="preferences__avatar avatar circle">
            {{{image}}}
        </div>
        <p class="preferences__description">Edit my data</p>
    {{else}}
        {{#if path}}
            <div class="{{classWrap}}">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="{{path}}" fill="{{fill}}"/>
                    {{#if path2}}
                        <path d="{{path2}}" fill="{{fill}}"/>
                    {{/if}}
                </svg>
            </div>
            <p class="action__action-text">{{title}}</p>
        {{else}}
            {{#if goBack}}
                <svg class="go-back-btn__arrow" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#71A6D7"/>
                    <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
                    <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
                </svg>
            {{else}}
                {{title}}
            {{/if}}
        {{/if}}
    {{/if}}
</a>
